<div class="footer">
    <p class="top-border">Spitalul asigura conditii de investigatii medicale, tratament, cazare, igiena alimentara si de prevenire a infectiilor nozocomiale, pentru toate categoriile de asigurati, conform normelor aprobate prin ordin al ministrului sanatatii publice.</p>
    <p>Copyright © 2022 Spitalul Militar de Urgenta "Dr. Ion Jianu" Pitesti. </p>

</div>

<style>
.footer {
    width:min(100%-4rem,70rem);
	margin-inline:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    padding:60px;
   
}
.footer .top-border{
   border-top: 2px solid red;
   padding-top:10px;
}

</style>