<div id="slider">

    <figure>
        <img src="/slide1.jpg" alt="" >
        <img src="/slide2.jpg" alt="" >
        <img src="/slide3.jpg" alt="" >
        <img src="/slide1.jpg" alt="" >
        <img src="/slide2.jpg" alt="" >
    </figure>
</div>

<style>
    #slider {
        overflow: hidden;
    }
    #slider figure{
        position: relative;
        margin: 0;
        left:0;
        width:500%;
        animation:20s slider infinite;

    }

        #slider figure img{
            width:20%;
            float:left;
        }
</style>