<div class="top_bar">
    <div>Non stop</div>
    <div>Tel: 0248218090</div>
</div>


<style>
.top_bar{
    display:flex;
    justify-content: space-between;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:40px;
    padding-right:40px;
    background-color: black;
     line-height: 30px;
    color:white;
	width:min(100%-2rem,70rem);
	margin-inline:auto;
}
</style>