---
// Component Imports

// You can import components from any supported Framework here!
//import VueCounter from '../components/VueCounter.vue';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.

import Nav from '../components/Nav.astro'
import TopBar from '../components/TopBar.astro'
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Spitalul Militar Pitesti</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
		@import "../styles/global.css";
		@import "../styles/home.css";
	</style>


</head>
<body>
<TopBar />
<Nav />

      <slot /> 
<script src="https://kit.fontawesome.com/fe944a0052.js" crossorigin="anonymous"></script>
</body>
</html>